<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="contiainer">
    <%= link_to "all the projects", controller: "posts" %> 
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'New post', new_post_path %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign Up', new_user_registration_path %>
      <%= link_to 'Login', new_user_session_path %>
    <% end %>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <h1>nathan shulkin Portfolio</h1>

    <h4>Welcome to nathans Portfolio website. This site lists different projects nathan has worked
    on and gives a brief description of each project. You can click on a project to learn more.</h4>

    <h4>Thank you for visiting. Have a nice day.</h4>
  </div>
</div>

<div class="contiainer">
  <h2>Projects:</h2>

    <table>

      <% @posts.each do |post| %>
        <tr>
            <td><h3><%= link_to post.title, post_path(post) %></h3></td>
            <td><p><%= post.text%><p></td>
            <% if user_signed_in? %>
              <td><%= link_to "Edit", edit_post_path(post) %></td>
              <td><%= link_to "Eliminate", post_path(post), method: "delete", data: { confirm: 'Are you sure?' } %></td>
            <% end %>
        </tr>
      <% end %>
    </table>
</div>

<div class="ticker">
  <%= render 'ticker' %>
</div>