<h1>nathan shulkins Portfolio</h1>

<h4>Welcome to nathans Portfolio website. This site lists different projects I have worked
on and gives a brief description of each project. You can click on each project to learn more.</h4>

<h4>Thank you for visiting. Have a nice day.</h4>

<%= link_to "all the posts", controller: "posts" %> 
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'New post', new_post_path %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign Up', new_user_registration_path %>
  <%= link_to 'Login', new_user_session_path %>
<% end %>

<br></br>
<h2>Projects:</h2>

<table>
  <tr>
    <th></th>
    <th></th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, post_path(post) %></td>
      <td><%= post.text %></td>
      <% if user_signed_in? %>
        <td><%= link_to "Edit", edit_post_path(post) %></td>
        <td><%= link_to "Eliminate", post_path(post), method: "delete", data: { confirm: 'Are you sure?' } %></td>
      <% end %>

    </tr>
  <% end %>
</table>

<br></br>
<br></br>
<h7>lil bottom ticker for ya</h7>