<h1>
  <%= @post.title %>
</h1>
 
<p>
  <strong>description:</strong>
  <%= @post.text %>
</p>

<br>
<%= link_to "all the posts", controller: "posts" %> 

<% if user_signed_in? %>
<td><%= link_to "Edit", edit_post_path(@post) %></td>
<td><%= link_to "Eliminate", post_path(@post), method: "delete", data: { confirm: 'Are you sure?' } %></td>
<% end %>

<br></br>
<br></br>
<h7>lil bottom ticker for ya</h7>